* {
  font-family: 'Open Sans', sans-serif;
  font-color: white;
   background-color: #36393e;
}

h1 {
  font-color: white;
  }
  
  /* niet gebruikte link */
a:link {
    color: white;
	 text-decoration: none;
	 font-weight: bold;
}

/* al gebruikte link */
a:visited {
    color: white;
	 text-decoration: none;
	 font-weight: bold;
}

/* hang boven link */
a:hover {
    color: red;
	 text-decoration: none;
	 font-weight: bold;
}

/* geselecteerde link */
a:active {
    color: blue;
	 text-decoration: none;
	 font-weight: bold;
}

.balk {
 margin: 5px;
 padding: 5px;
 border: 1px solid black;
 background-color: #202225;
 text-align: center;
}

.balk ul li {
 display: inline; 
 padding: 0 5px;
 width: 40px;
}

.tussenlijst {
color: black;
text-decoration: none;
}

table, th, td {
    border: 1px solid black;
	border-spacing: 0px;
}

.fotobodem {
font-style: italic;
}
